[Unit]
Description=Vulcan
After=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill vulcan1
ExecStartPre=-/usr/bin/docker rm vulcan1
ExecStartPre=/usr/bin/docker pull mailgun/vulcand:v0.8.0-beta.2
ExecStart=/usr/bin/docker run --rm --name vulcan1 -p 8181:8181 -p 8182:8182 mailgun/vulcand:v0.8.0-beta.2 /go/bin/vulcand -apiInterface=0.0.0.0 -etcd="http://100.73.134.136:4001"
ExecStop=/usr/bin/docker kill vulcan1
